@import url("https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&family=Open+Sans:ital,wdth,wght@0,75..100,300..800;1,75..100,300..800&display=swap");

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100dvh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* End CSS Reset */

:root {
  /* @link https://utopia.fyi/type/calculator?c=320,12.5,1.067,2560,15,1.125,10,10,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */

  --step--10: clamp(0.2887rem, 0.4256rem + -0.0855vw, 0.4085rem);
  --step--9: clamp(0.3248rem, 0.4517rem + -0.0793vw, 0.4358rem);
  --step--8: clamp(0.3654rem, 0.4793rem + -0.0712vw, 0.465rem);
  --step--7: clamp(0.4111rem, 0.5083rem + -0.0608vw, 0.4962rem);
  --step--6: clamp(0.4624rem, 0.539rem + -0.0478vw, 0.5294rem);
  --step--5: clamp(0.5202rem, 0.5713rem + -0.0319vw, 0.5649rem);
  --step--4: clamp(0.5853rem, 0.6052rem + -0.0125vw, 0.6027rem);
  --step--3: clamp(0.6431rem, 0.6409rem + 0.0109vw, 0.6584rem);
  --step--2: clamp(0.6862rem, 0.6784rem + 0.0389vw, 0.7407rem);
  --step--1: clamp(0.7322rem, 0.7177rem + 0.0722vw, 0.8333rem);
  --step-0: clamp(0.7813rem, 0.7589rem + 0.1116vw, 0.9375rem);
  --step-1: clamp(0.8336rem, 0.802rem + 0.1579vw, 1.0547rem);
  --step-2: clamp(0.8894rem, 0.847rem + 0.2122vw, 1.1865rem);
  --step-3: clamp(0.949rem, 0.8939rem + 0.2756vw, 1.3348rem);
  --step-4: clamp(1.0126rem, 0.9428rem + 0.3493vw, 1.5017rem);
  --step-5: clamp(1.0805rem, 0.9935rem + 0.435vw, 1.6894rem);
  --step-6: clamp(1.1529rem, 1.046rem + 0.5341vw, 1.9006rem);
  --step-7: clamp(1.2301rem, 1.1004rem + 0.6486vw, 2.1382rem);
  --step-8: clamp(1.3125rem, 1.1564rem + 0.7806vw, 2.4054rem);
  --step-9: clamp(1.4005rem, 1.2139rem + 0.9326vw, 2.7061rem);
  --step-10: clamp(1.4943rem, 1.2728rem + 1.1072vw, 3.0444rem);

  /* @link https://utopia.fyi/space/calculator?c=320,12.5,1.067,2560,15,1.125,10,10,&s=0.75|0.5|0.25,1.5|2|3|4|6|8|10,s-l&g=s,l,xl,12 */

  --space-3xs: clamp(0.1875rem, 0.1786rem + 0.0446vw, 0.25rem);
  --space-2xs: clamp(0.375rem, 0.3571rem + 0.0893vw, 0.5rem);
  --space-xs: clamp(0.5625rem, 0.5446rem + 0.0893vw, 0.6875rem);
  --space-s: clamp(0.8125rem, 0.7946rem + 0.0893vw, 0.9375rem);
  --space-m: clamp(1.1875rem, 1.1518rem + 0.1786vw, 1.4375rem);
  --space-l: clamp(1.5625rem, 1.5179rem + 0.2232vw, 1.875rem);
  --space-xl: clamp(2.375rem, 2.3125rem + 0.3125vw, 2.8125rem);
  --space-2xl: clamp(3.125rem, 3.0357rem + 0.4464vw, 3.75rem);
  --space-3xl: clamp(4.6875rem, 4.5536rem + 0.6696vw, 5.625rem);
  --space-4xl: clamp(6.25rem, 6.0714rem + 0.8929vw, 7.5rem);
  --space-5xl: clamp(7.8125rem, 7.5893rem + 1.1161vw, 9.375rem);

  /* One-up pairs */
  --space-3xs-2xs: clamp(0.1875rem, 0.1429rem + 0.2232vw, 0.5rem);
  --space-2xs-xs: clamp(0.375rem, 0.3304rem + 0.2232vw, 0.6875rem);
  --space-xs-s: clamp(0.5625rem, 0.5089rem + 0.2679vw, 0.9375rem);
  --space-s-m: clamp(0.8125rem, 0.7232rem + 0.4464vw, 1.4375rem);
  --space-m-l: clamp(1.1875rem, 1.0893rem + 0.4911vw, 1.875rem);
  --space-l-xl: clamp(1.5625rem, 1.3839rem + 0.8929vw, 2.8125rem);
  --space-xl-2xl: clamp(2.375rem, 2.1786rem + 0.9821vw, 3.75rem);
  --space-2xl-3xl: clamp(3.125rem, 2.7679rem + 1.7857vw, 5.625rem);
  --space-3xl-4xl: clamp(4.6875rem, 4.2857rem + 2.0089vw, 7.5rem);
  --space-4xl-5xl: clamp(6.25rem, 5.8036rem + 2.2321vw, 9.375rem);

  /* Custom pairs */
  --space-s-l: clamp(0.8125rem, 0.6607rem + 0.7589vw, 1.875rem);
}

body {
  font-size: var(--step-0);
  background: #161616;
  color: aliceblue;
  container: wrapper / inline-size;
}

.wrapper {
  margin: 0 auto;
}

nav {
  max-width: 60rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: var(--space-l-xl) auto;
}

nav a img {
  width: var(--space-l-xl);
  border-radius: 50%;
  transition: filter 0.3s ease;

  &:hover {
    filter: brightness(1.25);
  }
}

nav ul {
  list-style-type: none;
  display: flex;
  gap: var(--space-l-xl);
  font-family: "Open Sans";
  margin: 0;
  padding: 0;
}

nav ul li a {
  text-decoration: none;
  font-family: "Open Sans";
  letter-spacing: 0.1em;
  font-size: var(--step--2);
  color: grey;
  text-transform: uppercase;
  transition: color 0.3s ease;

  &:hover {
    color: aliceblue;
  }
}

.horizontal-rule {
  background: #444;
  height: 1px;
}

main {
  max-width: 60rem;
  margin: var(--space-3xl-4xl) auto;
  display: flex;
  flex-direction: column;
  gap: var(--space-2xl-3xl);
}

.hero {
  display: flex;
  flex-direction: column;
  gap: var(--space-xl-2xl);
}

.hero p.info {
  font-family: "Open Sans";
  letter-spacing: 0.1em;
  font-size: var(--step--2);
  color: grey;
  text-transform: uppercase;
}

.hero h1 {
  font-weight: 400;
  font-size: var(--step-10);
  font-family: "Instrument Serif";
}

.hero .bio {
  display: grid;
  grid-template-columns: 5fr 2fr;
  gap: var(--space-l-xl);
}

.hero .bio p {
  font-family: "Open Sans";
  font-size: var(--step-2);
  line-height: 1.75em;
  color: #aaa;
  text-wrap: pretty;
}

.hero .bio img {
  border-radius: var(--space-2xs-xs);
}

.work {
  display: flex;
  flex-direction: column;
  gap: var(--space-2xl-3xl);
}

.intro {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  gap: var(--space-l-xl);
}

.intro h2 {
  font-weight: 400;
  font-size: var(--step-10);
  font-family: "Instrument Serif";
}

.intro p {
  font-family: "Open Sans";
  font-size: var(--step-2);
  line-height: 1.75em;
  color: #aaa;
  text-wrap: pretty;
}

.intro .coworkers {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--space-s-m);
}

.intro .coworkers img {
  border-radius: var(--space-3xs-2xs);
  width: auto;
}

.experience {
  display: grid;
  grid-template-columns: 16rem auto; /* TODO FIX ME */
}

.experience .left .company {
  display: flex;
  gap: var(--space-xs-s);
  align-items: center;
}

.experience .left .company img {
  width: var(--space-2xl);
  border-radius: 0.5em;
}

.experience .left .company h2 {
  font-weight: 700;
  font-size: var(--step-1);
  font-family: "Open Sans";
}

.experience .left .company h3 {
  font-size: var(--step--1);
  font-weight: 500;
  font-family: "Open Sans";
}

.experience .left p {
  font-size: var(--step--1);
  font-family: "Open Sans";
  color: grey;
}

.experience .right ul {
  display: flex;
  flex-direction: column;
  gap: var(--space-s-m);
  margin: 0;
}

.experience .right ul li {
  font-size: var(--step-2);
  font-family: "Open Sans";
  color: #aaa;
  text-wrap: pretty;
}

.shrink-width {
  max-width: 60rem;
  margin: 0 auto;
}

footer {
  max-width: 60rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: var(--space-l-xl) auto;
}

footer p {
  font-family: "Open Sans";
  color: #aaa;
  font-size: var(--step-0);
}

footer ul {
  list-style-type: none;
  display: flex;
  gap: var(--space-l-xl);
  font-family: "Open Sans";
  margin: 0;
  padding: 0;
}

footer ul li a {
  text-decoration: none;
  font-family: "Open Sans";
  letter-spacing: 0.1em;
  font-size: var(--step--2);
  color: grey;
  text-transform: uppercase;
  transition: color 0.3s ease;

  &:hover {
    color: aliceblue;
  }
}

@container wrapper (max-width: 65rem) {
  .wrapper {
    padding: 0 var(--space-l-xl);
  }
  .hero .bio {
    grid-template-columns: 2fr 1fr;
  }
}

@container wrapper (max-width: 55rem) {
  .hero .bio {
    grid-template-columns: 5fr 3fr;
  }
}

@container wrapper (max-width: 45rem) {
  nav ul {
    display: none;
  }
  .hero .bio {
    grid-template-columns: 1fr;
  }
  .intro .coworkers {
    grid-template-columns: 1fr;
  }
  .experience {
    grid-template-columns: 1fr;
    gap: var(--space-m-l);
  }
  .experience .right ul {
    padding-left: var(--step-4);
  }
  footer {
    flex-direction: column;
    gap: var(--space-s-m);
  }
}
